*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('fundo.png');       
}

header{
    overflow: hidden;
}

nav{
    padding: 30px 0;
}

nav a{
    float: left;
    text-align: center;
    padding: 7px 45px;
    border: 1px solid #A49180;
    border-radius: 50px;
    margin-left: 30px;
    text-decoration: none;
    color: #593B1D;
    font-size: 20px;
}

nav img{
    width: 70px;
}

.iconeGato{
    border: none;
    margin-top: -32px;
    margin-left: 378px;
}
.iconeCarrinho{
    border: none;
    margin-top: -26px;
}
.card {
    width: 300px;
    height: 264px;
    background-color: #a4918029;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #76676d;
    border-radius: 20px;
    margin: 50px 90px
}
.card img
{
    height: 200px;
}

button{
    border: none;
    margin-left: 223px;
    position: absolute;
    margin-top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #a49180;
    font-size: 32px;
    font-family: revert-layer;
    color: #362f27;
}
main{
    padding: 90px 190px;
    display: flex;
    flex-wrap: wrap;
}
sub{
    font-size: xx-small;
}
sup{
    font-size: medium;
}
.video{
    margin: auto;
    display: block;
    height: 400px;
    width: 700px;
    
}
       
.textsecao{
    font-size: 100px;
    margin-left: 265px;
    color: #625353;

}
.sobrenos{
    width: 100%;
    display: flex;
}
.texto{
    width: 30%;
    background-color: #53271854;
    color: white;
    font-size: 25px;
    margin: 0 10%;
    border-radius: 20px;
    padding: 20px;

}
.mapa{
    width: 50%;
}
.local{
    width: 600px;
    height: 450px;
    border: none;
    margin-left: 200px;

}
.custom-table {
    width: 80%;
    border-collapse: collapse;
    margin: 2% 10%;
}

.custom-table th,
.custom-table td {
padding: 10px;
border: 1px solid #532718;
}

.custom-table th {
background-color: #532718;
color: white;
}

.custom-table tbody tr:nth-child(even) {
background-color: #ad856f;
}
.titable {
    text-align: center;
    color: #362f27;
    font-size: 50px;
}
footer{
    background-color: #a7928b;
    color: white;
}
.gatos{
    text-align: center;
    margin-left: 0;
    margin-top: 50px;
}